In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Importantation de mon fichier "Coeur"

In [2]:
data=pd.read_excel("Coeur.xlsx")
data

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,40,homme,AA,140.0,289.0,0,Normal,172,Non,0.0,Ascendant,0
1,49,femme,DNA,160.0,180.0,0,Normal,156,Non,1.0,Plat,1
2,37,homme,AA,130.0,283.0,0,ST,98,Non,0.0,Ascendant,0
3,48,femme,ASY,138.0,214.0,0,Normal,108,Oui,1.5,Plat,1
4,54,homme,DNA,150.0,195.0,0,Normal,122,Non,0.0,Ascendant,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,homme,AT,NaN,264.0,0,Normal,132,Non,1.2,Plat,1
914,68,homme,ASY,NaN,193.0,1,Normal,141,Non,3.4,Plat,1
915,57,homme,ASY,NaN,131.0,0,Normal,115,Oui,1.2,Plat,1
916,57,femme,AA,NaN,236.0,0,LVH,174,Non,0.0,Plat,1
917,38,homme,DNA,NaN,175.0,0,Normal,173,Non,0.0,Ascendant,0

# faire une copie de ma dataframe

In [3]:
df=data.copy()

In [4]:
df

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,40,homme,AA,140.0,289.0,0,Normal,172,Non,0.0,Ascendant,0
1,49,femme,DNA,160.0,180.0,0,Normal,156,Non,1.0,Plat,1
2,37,homme,AA,130.0,283.0,0,ST,98,Non,0.0,Ascendant,0
3,48,femme,ASY,138.0,214.0,0,Normal,108,Oui,1.5,Plat,1
4,54,homme,DNA,150.0,195.0,0,Normal,122,Non,0.0,Ascendant,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,homme,AT,NaN,264.0,0,Normal,132,Non,1.2,Plat,1
914,68,homme,ASY,NaN,193.0,1,Normal,141,Non,3.4,Plat,1
915,57,homme,ASY,NaN,131.0,0,Normal,115,Oui,1.2,Plat,1
916,57,femme,AA,NaN,236.0,0,LVH,174,Non,0.0,Plat,1
917,38,homme,DNA,NaN,175.0,0,Normal,173,Non,0.0,Ascendant,0